body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url("https://nottingham.ac.uk/news/pressreleases/2011/october/filmreel.jpg");
    -ms-filter:"progi<d:DXImageTransform.Microsoft.Alpha(Opacity=100,FinishOpacity=78,Style=2)";
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100,FinishOpacity=78,Style=2);}

.form-signin {
    max-width: 500px;
    padding: 100px 29px 29px;
    margin: 100px auto 20px;
    border: 0px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    background-color: #535353;
    opacity: 0.9;
}
.form-signin .form-signin-heading{color:#CAE8F7;margin-bottom: 25px;font-size: 23px;font-weight: 400;margin-bottom: 10px;}
.form-signin h1 {
    color: #4AAAD6;
}
.form-signin a{color: #4AAAD6;font-weight: 400;font-size: 10px;}
.form-signin input[type="text"],
.form-signin input[type="password"] {font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
    opacity: 0.9;
    border: 1px solid #28759B;}
.form-signin span { font-size: 13px;color: white;float: right;}
.form-signin label {color: white;}
.form-signin .btn {font-family: inherit;}